<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="main.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
</head>
<body ng-app="FirstApplication">
<div id="load" style="text-align: center">Loading...</div>

<div style="display: inline-block; width: 80%">
    <div class="row" ng-controller="ProductsListController" id="list" style="text-align: center">
        <input type="text" ng-model="searchVoucher" style="margin: 20px 113px;; width: 480px;" placeholder="Search..." list="search"/>
        <datalist id="search">
            <option>food</option>
            <option>drink</option>
            <option>pizza</option>
            <option>other</option>
        </datalist>
        <div id="basket" style="display: inline-block"><img src="basket.jpg" style="width: 60px" ng-click="showOrder()"/></div>

        <div  role="dialog">
            <div class="modal-dialog" style="display: none">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Your order</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-repeat="product in orders">
                            <order data="product"></order>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>

            </div>

        <div ng-repeat="product in products | filterCat:searchVoucher">
            <product data="product"></product>
        </div>
    </div>
    </div>
</div>

</body>
</html>